# Compiled class file
*.class

# Log file
*.log
/log/

inprotk.iml
/.idea
/.gradle
/build
/inprotk.*/build/
/inprotk.*/out/
/inprotk.*/log/

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
